# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Test files
*.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
